div.page
{
    position:absolute;
    background-color: rgb(200,245,245);
    border-radius:10px;
}
div.title
{
    text-align:center;
    font-style: oblique;
    font-size: 40px;
    position:relative;
    top:25px;
}
div.subpara
{
    font-family:Palatino;
    position:relative;
    left:10px;
    top:25px;
}
